body {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: white;
}
img {
    width: 200px;

    transition: transform 1s ease ;
}
img:hover {
    transform: scale(1.2);
    
}