


body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvGktxuDz2Uav1WOZQ02IdqO1ZlFL0IKIABQ&s');
    background-repeat:repeat;
    
}

p{
    color: black;
font-size: 50px;

}

