a{
    transition: 0.5s;
    color:darkmagenta;
    font-family: cursive;
    text-decoration: none;
    font-size: 50px;
}
a:hover{
    color: red;
    font-family: cursive;
    text-decoration: none;
    font-size: 150px;



}
#er{
    color:darkmagenta;
    font-family: cursive;
    text-decoration: none;
    font-size: 50px;
}
#er:hover{
    color: red;
    font-family: cursive;
    text-decoration: none;

}