body{
    font-family:Arial, sans-serif  ;
    margin:0cap ;
    padding: 0cap;
    background-color:cornflowerblue ;
    color:blueviolet ;
    
    
    }
    header{
    background-color:cadetblue ;
    color:blueviolet ;
    padding: 10px;
    text-align: center;
    
    }