.ssss{
    color: chartreuse;
    font-size: 2.5em;


}
#sss{

    color: blue;
    font-size: 1.5em;
}

.ss{
    color: chocolate;
    font-size: 1.5em;
}


#ss{

    color: blue;
    font-size: 1.5em;
}

.sss{

    color: cadetblue;
    font-size: 1.5em;
}


#rr{

    color: blueviolet;
    font-size: 1.5em;
    


}


.rrr{

    color: darkgray;
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:  unset;
    font-weight: 900;
   

}

#uu{

    color:blueviolet;
    font-size: 2em;
    font-weight: 900;
}

.aaa{
    color:darkgreen;
    font-size: 1.5em;
}

#aa{

    color: darkgreen;
    font-size: 1.5em;
}