body{
    background-color: black;
}
div{

    background-color: rgb(33, 31, 31);
    width: 450px;
    height: 650px;
border-radius: 2%;

}
img{
    border-radius: 100%;
    
}
h1{
    color: white;
}
.p1{
    color: rgb(167, 232, 13);
}
.p2{
    color:white;
}
button{
 background-color: rgb(75, 71, 71, 0.61);
 width: 350px;
 height: 40px;
 border-radius: 10px;
 color: white;
}