body{
    font-family:Arial, sans-serif  ;
    margin:0cap ;
    padding: 0cap;
    background-color:chartreuse ;
    color: blue;
    
    
    }
    header{
    background-color: chartreuse;
    color: blue;
    padding: 10px;
    text-align: center;
    
    }