body {
background-color: antiquewhite;
}



.container{
   height: auto;
 width: 800px;
 background-color: blue;
}



a{
  padding: 2cap;
}

section{
  background-color: aqua;
}


.footer{

  background-color: blueviolet;
}





